* ,::after , ::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: #222c2A;
    font-family: 'Roboto', sans-serif;
}

img{
    width: 100%;
}

h1, h2{
    font-weight: 900;
    margin-top: 0;
    font-family: playfair Display Black;
}

.intro-text{
    text-transform: uppercase;
    font-size: .7rem;
    letter-spacing: 10px;
    color: #824936;
}

.intro-title{
    font-size: 1.7rem;
    line-height: 1;
    color: #824936;
}

.section-title{
    color: #fff;
    text-transform: capitalize;
}

.container{
    width: 85%;
    margin: 0 auto;
    padding: 2rem 0;
}
.intro-section{
    background: #f3eed9;
    padding: 3.5rem  0;
    text-align: center;
    min-height: 660px;

    display: flex;
    align-items: center;
}

/* second-section */
 
.dark-title{
    color: #824936;
    text-align: center;
}

/* third-section */
.third-section{
    background: #222c2a;
    color: #fff;
}

.forth-section{
    background: #824936;
    color: #fff;
}

.col + .col{
    margin-block: 1em;
}


@media (min-width: 800px){
    .row{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .col{
        width: 100%;
    }
    .col + .col{
        margin-inline-start: 2em;
    }

    .col p{
        max-width: 500px;
        
    }

    .intro-title{
        font-size: 3rem;
    }
}